.search-page{
  width: 60%;
  margin: 0 auto;
}
.error{
  color: #ff0000;
}

form {
  display: inline-flex;
}

form div {
  padding: 20px;
}

table{
  margin-left: 20px;
  width: 100%;
  border: 1px solid #393737;
}
tr{
  width: 100%;
}
th{
  width: 10%;
  text-align: center;
}
td{
  text-align: center;
  border: 1px solid rgb(107, 105, 105); 
}
td:nth-child(4), td:nth-child(6){
  width:20%;
}

button {
 width: 100px;
 height: 40px;
 border-radius: 10px;
 background-color: #3ba1e9;
 cursor: pointer;
}

button:disabled {
  background-color: #FFF;
  cursor: not-allowed;
}
